body, html {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content {
    width: 100%;
    padding: 1rem;
    overflow: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
table, th, td {
    border: 1px solid #dee2e6;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #343a40;
    color: #ffffff;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #e9ecef;
}
.actions a {
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
}
.actions a:hover {
    text-decoration: underline;
}
.logout {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: right;
    margin: 1rem;
}
.logout a {
    color: white;
    width: 145px;
    height: 38px;
    text-decoration: none;
}
.btn-create {
    margin: auto;
}
#btnActions {
    color: white;
}
.search-bar {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}